html {
    height: 100%;
}

body {
    font-family: 'Poiret One', sans-serif;
    color: #727272;
    height: calc(100vh - 164px);    
}

/* Image container */
.image-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px; /* Adjust as needed */
    height: auto;
    z-index: 1;
}

/* Make the image responsive */
.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Optional */
}

/* Text overlay styling */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white; /* Adjust for contrast */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Improves readability */
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
}

.main-logo-link {
    width: fit-content;
}

.shop-button {
    background: #727272;
    color: white;
    min-width: 100%;
}

.btn-main {
    background: #727272;
    color: white;
}

.shop-button:hover,
.shop-button:active,
.shop-button:focus,
.btn-main:hover,
.btn-main:active,
.btn-main:focus {
    background: #222;
    color: white;
}

.text-main {
    color: #727272 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
    .header-container {
        padding-top: 164px;
    }
    }

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
     
}

@media (min-width: 290px){
    #logo {
        font-size: 50px;
    }
    .header-container {
        padding-top: 185px;
    }
    #blurb {
        font-size: 250%;
    }
     
}